:root{
  --mainDark : #232B36;
  --mainLight: #E5DBBF;
  --secDark: #415B75;
  --secLight: #9494A7;
  --accent: #C0CFC7;

}

html {
  font-family: "Work Sans";
  font-size: 16px;
}

body {
  background-color: var(--mainDark);
}

h1,
h2, 
h3 {
  margin-bottom: 5px;
  color: var(--mainDark);
  font-weight: 700;
  line-height: 1.1;
}

h1 {
  font-size: 4rem;
}

header {
  display: flex;
  width: 98%;
  justify-content: space-between;
  margin-bottom:1%;
  align-items: flex-end;
}

header h1 {
  margin: 1%;
  color: var(--mainLight);
}

header nav {
  font-size: 24px; 
}

header ul {
  list-style-type: none;
}

header li {
  display: inline-block;
  margin-left: 25px;
}

header li a{
  color: var(--mainLight);
  text-decoration: none;
}

.emptyBox {
  height: 6px;
  background-color: var(--secLight);
  border-width: 3px; 
  box-shadow: 0 0 3px 3px var(--accent);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainProjHolder {
  margin: 2%;
  max-width: 100%;
  background-color: var(--accent);
  border-radius: 10px;
  border: solid 9px var(--secLight);
  display: flex; 
  justify-content: center;
  position: relative; 
}

.mainProjHolder img {
  object-fit: contain;
  padding: 1%;
  max-width: 96%;
  margin: 1%;
}

 
.lilProjHolder {
  display: flex;
  max-width: 100%;  
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2%;
  align-items: center;
  justify-content: center;
  background-color: var(--accent);
  border-radius: 10px;
  border: solid 9px var(--secLight)
}

.lilProjCard {
  max-width: 48%;
  margin: 1%;
  justify-content: center;
  transition: .8s ease-in-out;
  display: flex;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: var(--secLight);
  object-fit: contain;
}

.first {
  text-decoration: none;
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); 
  font-size: 36px;
  font-weight: 700; 
}

.second {
  text-decoration: none;
  position: absolute;
  top: 67%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); 
  font-size: 36px;
  font-weight: 700;
}

.lilProjCard:hover .overlay {
  opacity: .92;
}

.mainProjHolder:hover .overlay {
  opacity: .9;
}

.lilProjCard  img {
  object-fit: contain;
  max-width: 100%;
}

#aboutMe {
  background-color: var(--accent);
  display: flex;
  margin: 2%;
  max-width: 100%;
  border-radius: 10px;
  border: solid 9px var(--secLight)
}

#aboutMe p {
  color: var(--secDark);
  max-width: 67%;
  margin: 1%;
  max-height: 100%;
  font-size: 2.25vw;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#aboutMe img {
  object-fit: contain; 
  max-width: 33%;
}

#contact {
  background-color: var(--accent);
  display: flex; 
  flex-direction: row;
  border-radius: 10px;
  border: solid 9px var(--secLight);
  justify-content: space-between;
  align-items: flex-end;
  margin: 2%;
}

#contact h2 {
  font-size: 36px;
  margin: 2%;
  z-index: 2;
}

#contact p {
  color: var(--mainDark);
  font-size: 24px;
  margin: 2%
}

@media screen and (max-width: 968px) {
  .lilProjCard {
    max-width: 98%;
    margin: 1%;
  }
  #aboutMe p {
    font-size: 3vw
  }
}
